<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- The following line defines compatibility settings for Internet Explorer -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- This meta tag configures the viewport for responsive design -->
    <title>Login form</title>
    <!-- The title of the page displayed in the browser tab -->
    <link rel="stylesheet" href="/static/login.css">
    <!-- Link to the external CSS file for styling the login form -->
</head>

<body>
    <main>
        <div class="container">
            <div class="form">
                <form method="POST" action="/auth/login/">
                    <h1>Welcome to FitPyche</h1>
                    <!-- Heading welcoming users to the FitPyche platform -->

                    <!-- Input fields for email and password -->
                    <div class="mail">
                        <label for="email"><b>Email:</b></label>
                        <!-- Label for the email input -->
                        <input type="email" id="email" name="email" placeholder="user19@gmail.com"
                            onkeyup="validateEmail()" required>
                        <!-- Email input field with initial placeholder and required attribute -->
                        <span id="email-error"></span>
                        <!-- Span to display email validation errors -->
                    </div>
                    <div class="pass">
                        <label for="password"><b>Password:</b></label>
                        <!-- Label for the password input -->
                        <input type="password" id="password" name="password" placeholder="Password"
                            onkeyup="validatePassword()" required>
                        <!-- Password input field with initial placeholder and required attribute -->
                        <span id="password-error"></span>
                        <!-- Span to display password validation errors -->
                    </div>

                    <!-- Login button and form submission error message -->
                    <button type="submit" onclick="return validateForm()"><b>Login</b></button>
                    <span id="signup-error"></span>
                    <!-- Span to display form submission errors -->
                </form>
            </div>

            <!-- Link to sign-up page -->
            <p>Don't have an account? <a href="/auth/signUp">Sign Up</a></p>
            <!-- "Sign Up" link to direct users to the sign-up page -->
        </div>
    </main>

    <script src="/static/js/login.js"></script>
    <!-- Link to the external JavaScript file for form validation -->
</body>

</html>