/* Reset default margin, padding, font size, and set background color for the body */
body {
    margin: 0;
    padding: 0;
    font-size: 16px; /* Set the base font size for the body */
    background-image: url("/static/Pictures/gym_floor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Styling for the header section */
.header {
    /* Border styles (2px solid red) are commented out */
    display: flex;
    justify-content: center;
}

/* Apply green color to the header and h1 elements */
header, h1 {
    color: #7DF9FF; /* Green color in HEX format */
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline; /* Display links horizontally */
    margin-right: 20px; /* Add spacing between links */
  }
  
  nav a {
    text-decoration: none; /* Remove default underline */
    color: orange; /* Text color */
    font-weight: bold; /* Text weight */
    transition: color 0.3s; /* Add a smooth color transition on hover */
  
    /* Additional styling for hover effect */
    &:hover {
      color: #007bff; /* Change text color on hover */
    }
  }
  

/* Styling for the work-out container */
.work-out-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.workout-item-container {
    border: 1px solid #ccc; /* Add a border to each workout item container */
    /* Add padding for spacing inside the containers */
    padding: 10px 20px; 
    margin: 10px; /* Add margin to separate workout items */
    background-color: whitesmoke;
  }
/* Styling for individual workout items */
.workout-item {
    box-sizing: border-box;
}

/* Styling for h2 elements within the workout form */
#workout-form h2 {
    text-align: center;
}

/* Styling for the workout form */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: beige; /* Set a background color for the form */
}

/* Styling for input elements within the form */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 2px;
}

/* Styling for the form submit button */
form button {
    text-align: center;
    color: white;
    background-color: black; /* Set the button background color to black */
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Styling for the work-out history section */
.work-out-history {
    display: flex;
    flex-direction: row;
}

/* Styling for the footer section */
.footer {
    /* Border styles (2px solid black) are commented out */
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

/* Styling for the text within the footer section */
.footer p {
    text-align: center;
    color: #4CAF50; /* Set the text color in HEX format */
}

/* Tablet styles - applies when the screen width is at least 768px */
@media screen and (min-width: 768px) {
    /* Specific styles for tablets */
    body {
        font-size: 18px; /* Adjust the font size for tablets */
    }
}

/* Desktop styles - applies when the screen width is at least 1200px */
@media screen and (min-width: 1200px) {
    /* Specific styles for desktops */
    body {
        font-size: 20px; /* Adjust the font size for desktops */
    }
}