/* Mobile styles (base) */
body {
    margin: 0;
    padding: 0;
    background-color: #FFD700 ;
}

header {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}
header, h1{
    color: #4CAF50;
}

section .calories {
    border: 2px dotted black;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 10px;
    background-color: #4CAF50;
}

section .calories p {
    color: whitesmoke;
}

.summary .sum {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.total-workout, .calories-burned, .total-time {
    text-align: center;
    color: #4CAF50;
}

.statistics h2 {
    text-align: center;
    color: darkgray;
}

.statistics .graph {
    /* Add styles for graphs if necessary */
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #FF00FF;
}


.footer {
    display: flex;
    justify-content: space-evenly;
}
.footer p {
    text-align: center;
    color: #4CAF50;
}

/* Tablet styles */
@media screen and (min-width: 768px) {
    /* Add specific styles for tablets here */
    body {
        font-size: 18px;
    }
}

/* Desktop styles */
@media screen and (min-width: 1200px) {
    /* Add specific styles for desktops here */
    body {
        font-size: 28px;
    }
}
