<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/home.css"> <!-- Link to the external CSS file for styling -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:ital,wght@1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <!-- <img src="/Pictures/class.png" alt="Logo" width="100px"> -->
        <!-- <h1>Fit Psyche </h1> -->
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/timeline">Timeline</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>

        </nav>
    </header>
    <main>
        <section>
            <div class="container">
                <div class="body">
                    <p><span>Future of Fitness is at your place</span></p>
                    <p><span class="sub">Fit Psyche</span></p>
                    <p><span>The nearly invisible interactive home gym</span></p>
                </div>
                <div class="photo">
                    <p>Join The Party</p>
                    <p>And</p>
                    <p>Step Up your</p>
                    <p>Fitness Challenge</p>
                    <p>with us</p>
                </div>
            </div>
        </section>

    </main>
</body>

</html>