<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fit Psyche Dashboard</title>
    <link rel="stylesheet" href="/static/dashboard.css">
</head>

<body>
    <header>
        <!-- <img src="/Pictures/class.png" alt="Logo" width="100px">
        <h1>Fit Psyche </h1> -->
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/timeline">Timeline</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>

        </nav>

        <nav>
            <!-- if user  is logged in then the route that should be displayed is the logut route  -->
            {% if current_user. is_authenticated %}
            <a href="/account">Account</a>
            <a href="/logout">logout</a>
            {% else %}
            <a href="/auth/login">Login</a>
            <a href="/auth/signUp"> SignUp</a>
            {% endif %}
        </nav>
    </header>
    <header>
        <img src="/static/Pictures/class.png" alt="Logo" width="100px">
        <h1>Fit Psyche </h1>
    </header>
    <main>
        <section class="calories-progress">
            <div class="calories">
                <img src="/static/Pictures/calories.png" alt="Total calories burned" width="100px">
                <p><span id="calories-value"><b>{{ total_calories }}</b></span> <b>calories burned</b></p>
                <!-- note the span will need a js function to update the value -->
            </div>
        </section>
        <section class="summary">
            <div class=" sum">
                <div class="dumbel">
                    <img src="/static/Pictures/workout.png" alt="workout icon" width="100px">
                </div>
                <div class="total-workout">
                    <img src="/static/Pictures/thunder.png" alt="total workouts" width="50px">
                    <p><span id="calories-value"><b>{{ total_workouts }}</b></span> <b>Workouts</b></p>
                </div>
                <div class="calories-burned">
                    <img src="/static/Pictures/calories (1).png" alt="total heart rate" width="50px">
                    <p><span id="calories-value"><b>{{ total_calories }}</b></span> <b>Calories</b></p>
                </div>
                <div class="total-time">
                    <img src="/static/Pictures/sand-clock.png" alt="total time taken" width="50px">
                    <p><span id="calories-value"><b>{{ total_time }}</b></span> <b>Minutes</b></p>
                </div>
            </div>
        </section>
        <section class="statistics">
            <h2>Progress</h2>
            <div class="graph">
                <div class="workout-graph">
                    <h3>workout-graph</h3>
                    <p>we will add a workout graph here</p>
                </div>
                <div class="calories-graph">
                    <h3>calories-graph</h3>
                    <p>we will add a calories graph here</p>
                </div>
            </div>
        </section>
        <section class="footer">
            <div>
                <a href="/dashboard" class="nav-link">
                    <img src="/static/Pictures/dashboard.png" alt="Dashboard icon" width="100px">
                </a>
                <p><b>Dashboard</b></p>
            </div>
            <div>
                <a href="/timeline">
                    <img src="/static/Pictures/timeline.png" alt="Timeline icon" width="100px">
                </a>
                <p><b>Timeline</b></p>
            </div>
            <div>
                <a href="/profile">
                    <img src="/static/Pictures/user.png" alt="Profile icon" width="100px">
                </a>
                <p><b>Profile</b></p>
            </div>
        </section>
    </main>
</body>

</html>