<!DOCTYPE html>
<html>
<head>
    <title>Workout Progress</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Workout Progress</h1>
    <canvas id="myChart" width="400" height="200"></canvas>

    <script>
        // Access the data passed to the template
        var data = {{ data|tojson|safe }};
        
        // Function to initialize the chart
        function initializeChart(data) {
            var dates = data.map(item => item.date);
            var workoutSets = data.map(item => item.sets);
        
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: dates,
                    datasets: [{
                        label: 'Workout Sets',
                        data: workoutSets,
                        // backgroundColor: black,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Date'
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Workout Sets'
                            },
                            beginAtZero: true
                        }
                    }
                }
            });
        }

        initializeChart(data);
    </script>
</body>
</html>
