<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/profile.css">

</head>

<body>
    <header>
        <!-- <img src="/Pictures/class.png" alt="Logo" width="100px"> -->
        <!-- <h1>Fit Psyche </h1> -->
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/timeline">Timeline</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>

        </nav>
    </header>
    <header>
        <img src="/static/Pictures/user.png" alt="Logo" width="100px">
        <div class="header">
            <h2 id="username">Username </h2>
            <h2 id="user-email">User20@gmail.com</h2>
        </div>
    </header>
    <main>
        <!-- Acticity Goals, ie, monthl goals, weekly goals, daily goals -->
        <section class="activity">
            <h3>Activity Goals</h3>
            <!-- I need to add a list and an a form in each month, weekly, dail goals in form of a form -->

            <div class="goals">
                <ul>
                    <li>
                        <b>
                            Monthly Goals
                            <span class="goal-icons">
                                <img src="/static/Pictures/add.png" alt="add icon" width="30px" class="icon" onclick="">
                                <img src="/static/Pictures/edit.png" alt="edit icon" width="30px" class="icon" onclick="">
                                <img src="/static/Pictures/trash.png" alt="delete icon" width="30px" class="icon" onclick="">
                            </span>
                        </b>
                        <div id="goalInput">
                            <input type="text" id="newGoal" placeholder="Add a new goal">
                            <button onclick="addGoal()"><i class="fas fa-plus"></i> Add</button>
                        </div>
                    </li>

                    <li>
                        <b>
                            Weekly Goal
                            <span class="goal-icons">
                                <img src="/static/Pictures/add.png" alt="add icon" width="30px" class="icon" onclick="">
                                <img src="/static/Pictures/edit.png" alt="edit icon" width="30px" class="icon" onclick="">
                                <img src="/static/Pictures/trash.png" alt="delete icon" width="30px" class="icon" onclick="">
                            </span>
                        </b>
                        <div id="goalInput">
                            <input type="text" id="newGoal" placeholder="Add a new goal">
                            <button onclick="addGoal()"><i class="fas fa-plus"></i> Add</button>
                        </div>
                    </li>

                    <li>
                        <b>
                            Daily Goal
                            <span class="goal-icons">
                                <img src="/static/Pictures/add.png" alt="add icon" width="30px" class="icon" onclick="">
                                <img src="/static/Pictures/edit.png" alt="edit icon" width="30px" class="icon" onclick="">
                                <img src="/static/Pictures/trash.png" alt="delete icon" width="30px" class="icon" onclick="">
                            </span>
                        </b>
                        <div id="goalInput">
                            <input type="text" id="newGoal" placeholder="Add a new goal">
                            <button onclick="">Add</button>
                        </div>
                    </li>
                </ul>
        </section>
        </div>

        <!-- About you -->
        <section class="about">
            <h3>About you</h3>
            <form>
                <label for="bio">Gender:</label>
                <input type="text" id="bio" name="bio" required>
                <button type="submit">Save</button>
            </form>
            <br>
            <form>
                <label for="bio">Weight:</label>
                <input type="text" id="bio" name="bio" required>
                <button type="submit">Save</button>
            </form>
            <br>
            <form>
                <label for="bio">Age:</label>
                <input type="text" id="bio" name="Age" required>
                <button type="submit">Save</button>
            </form>
            <br>
            <form>
                <label for="bio">Height:</label>
                <input type="text" id="bio" name="bio" required>
                <button type="submit">Save</button>
            </form>
            <br>
        </section>

        <!-- Progress Section -->
        <section class="Progress">
            <h3>Progress</h3>
            <!-- I need a semicircle to show the progress of the user -->
            <img src="/static/Pictures/work-in-progress.png" alt="progress icon" width="100px">
            <h2>0%</h2>
        </section>

        <section class="footer">
            <a href="/dashboard" class="nav-link">
                <img src="/static/Pictures/dashboard.png" alt="Dashboard icon" width="100px">
            </a>
            <a href="/timeline">
                <img src="/static/Pictures/timeline.png" alt="Timeline icon" width="100px">
            </a>
            <a href="/profile">
                <img src="/static/Pictures/user.png" alt="Profile icon" width="100px">
            </a>
        </section>
    </main>
</body>

</html>